{{>header}}
{{>navbar}}
<section class="container my-3">
    <h2>Add New User (POST)</h2>
    <form method="post">
        <div class="mb-3">
            <input class="form-control" name="name" placeholder="Enter your name" value="{{user.name}}">
            {{#if errors.name}} 
                <div class="text-danger"><span>{{errors.name}}</span></div>
            {{/if}}
        </div>
        <div class="mb-3">
            <input class="form-control" name="address" placeholder="Enter your address"  value="{{user.address}}">
        </div>
        <div class="mb-3">
            <input class="form-control" name="phone" placeholder="Enter your phone"  value="{{user.phone}}">
        </div>
        <div class="mb-3">
            <input class="form-control" name="accNum" placeholder="Enter your accNum"  value="{{user.accNum}}">
        </div>
        
        <div class="mb-3">
            <input class="form-control" name="intialbalance" placeholder="Enter your intialbalance"  value="{{user.intialbalance}}">
            {{#if errors.intialbalance}}
                <div class="text-danger"><span>{{errors.intialbalance}}</span></div>
            {{/if}}
            
        </div>
        
        <div class="mb-3">
            <button class="btn btn-primary">Add Data</button>
        </div>
    </form>
</section>
{{>footer}}
