{{>header}}
{{>navbar}}
<section class="container my-3">
    <h2>Edit User Data</h2>
    {{#if isNotFound}}
    <div class="alert alert-danger">
        user not found
    </div>
    {{else}}

    <form method="post">
        <div class="mb-3">
            <input class="form-control" name="name" placeholder="Enter your name" value={{user.name}}>
        </div>
        <div class="mb-3">
            <input class="form-control" name="adress" placeholder="Enter your adress" value="{{user.address}}">
        </div>
        <div class="mb-3">
            <input class="form-control" name="phone" placeholder="Enter your email" value="{{user.phone}}">
        </div>
        <div class="mb-3">
            <input class="form-control" name="accNum" placeholder="Enter your address" value="{{user.accNum}}">
        </div>
          <div class="mb-3">
            <input class="form-control" name="accNum" placeholder="Enter your intialbalance" value="{{user.intialbalance}}">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Edit Data</button>
        </div>
    </form>
    {{/if}}
</section>
{{>footer}}